// NAME="Rugby"
// DESCRIPTION="This crisp theme features a diagonal edge with the primary color across the widget."
@font-face {
	font-family: 'Tusker Grotesk 7700 Bold';
	src: url('/mediafiles/TuskerGrotesk-7700Bold.woff2');
}

body, html{
	font-family: 'FS Hackney Trial Regular';
	font-style: normal;
	font-weight: 300;
	color: $text_a;
}

h2 {
  font-family: 'FS Hackney Trial Regular';
	font-style: normal;
	font-weight: Bold;
	text-transform: uppercase;
}

h1 {
	font-family: 'Tusker Grotesk 7700 Bold';
	//font-family: 'Tusker Grotesk';

	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	
}
 
.redBox {
	outline: #ff0000 solid 3px;
  //margin: auto;  
  //padding: 20px;
  //text-align: center;
}

.lower_third span#job_title {
    font-size: 5em;
    padding-left: 400px;
}



.widget {
  


}
