// Countdown


.counter {
	span#job_title {
		font-size: 5em;
		display: block;
		padding-left: 400px;
	}
	h2#name{
		display: block;
		font-size: 1.5em
		padding-left: 400px;
	}
}
.solidcolor{
	width: 100%;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
}
".countdown{font-variant-numeric: tabular-nums; background: url(/mediafiles/score_board.png); background-repeat:no-repeat; padding: 83px 113px!important;} .counter{display: inline-block; margin-left: 5px; position:absolute; top:83px; left:542px; padding:6.5px 10px;} .solidcolor {width: 100%; height: 100vh; position: absolute; top: 0; left: 0; }"
}

  background-image: url(/mediafiles/name_strap.png);
  background-repeat: no-repeat;

}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

