// footballtest

	span#job_title {
		font-size: 2em;
    	display: block;
    	text-align: center;
    	height: 240px;
    	width: 226px;
    	background-image: url(/mediafiles/football_shirt.png);
    	background-repeat: no-repeat;
    	background-size: 180px 170px;
    	background-position: center;
	
	}

	span, p {
    	padding-top: 70px;
    	position: absolute;
		top: 868px;
		left: 925px;

}

span#CB1 {
		font-size: 2em;
    	display: block;
    	text-align: center;
    	height: 240px;
    	width: 226px;
    	background-image: url(/mediafiles/football_shirt.png);
    	background-repeat: no-repeat;
    	background-size: 180px 170px;
    	background-position: center;
	
	}

	span#CB1, p {
    	padding-top: 70px;
    	position: absolute;
		top: 620px;
		left: 925px;

}
span#CB2 {
		font-size: 2em;
    	display: block;
    	text-align: center;
    	height: 240px;
    	width: 226px;
    	background-image: url(/mediafiles/football_shirt.png);
    	background-repeat: no-repeat;
    	background-size: 180px 170px;
    	background-position: center;
		
	
	}

	span#CB2, p {
    	padding-top: 70px;
    	position: absolute;
		top: 620px;
		left: 735px;

}
span#CB3 {
		font-size: 2em;
    	display: block;
    	text-align: center;
    	height: 240px;
    	width: 226px;
    	background-image: url(/mediafiles/football_shirt.png);
    	background-repeat: no-repeat;
    	background-size: 180px 170px;
    	background-position: center;
	
	}

	span#CB3, p {
    	padding-top: 70px;
    	position: absolute;
		top: 620px;
		left: 1110px;

}
span#LB {
		font-size: 2em;
    	display: block;
    	text-align: center;
    	height: 240px;
    	width: 226px;
    	background-image: url(/mediafiles/football_shirt.png);
    	background-repeat: no-repeat;
    	background-size: 180px 170px;
    	background-position: center;
	
	}

	span#LB, p {
    	padding-top: 70px;
    	position: absolute;
		top: 610px;
		left: 370px;

}
span#RB {
		font-size: 2em;
    	display: block;
    	text-align: center;
    	height: 240px;
    	width: 226px;
    	background-image: url(/mediafiles/football_shirt.png);
    	background-repeat: no-repeat;
    	background-size: 180px 170px;
    	background-position: center;
	
	}

	span#RB, p {
    	padding-top: 70px;
    	position: absolute;
		top: 610px;
		left: 1470px;

}


.footballtest {
background-image: url(/mediafiles/pitch.png);
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
  background-position: center;
}




.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}