.footballtest
	span#job_title(v-html="visibleEntry.props.position")
	span#CB1(v-html="visibleEntry.props.CB1")
	span#CB2(v-html="visibleEntry.props.CB2")
	span#CB3(v-html="visibleEntry.props.CB3")
	span#LB(v-html="visibleEntry.props.LB")
	span#RB(v-html="visibleEntry.props.RB")
	

