// Lower Third

.lower_third {

	h2#name {

		;
	}

	span#job_title {
		font-size: 0.8em;
		display: block;
	}
	span#company{
		display: block;
		font-size: 0.7em;
	}
}

  background-image: url(/mediafiles/);
  background-repeat: no-repeat;


.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}